aiohappyeyeballs==2.6.1
aiohttp==3.12.14
aiosignal==1.4.0
altgraph==0.17.4
anyio==4.9.0
attrs==25.3.0
certifi==2025.6.15
charset-normalizer==3.4.2
click==8.2.1
colorama==0.4.6
coloredlogs==15.0.1
datasets==4.0.0
DAWG-Python==0.7.2
deeppavlov==1.7.0
dill==0.3.8
docopt==0.6.2
fastapi==0.89.1
filelock==3.9.1
flatbuffers==25.2.10
frozenlist==1.7.0
fsspec==2025.3.0
h11==0.16.0
huggingface-hub==0.33.2
humanfriendly==10.0
idna==3.10
intervaltree==3.1.0
ipymarkup==0.9.0
Jinja2==3.1.6
joblib==1.5.1
MarkupSafe==3.0.2
mpmath==1.3.0
multidict==6.6.3
multiprocess==0.70.16
natasha==1.6.0
navec==0.10.0
networkx==3.5
nltk==3.9.1
numpy==1.25.0
onnx==1.18.0
onnxruntime==1.22.1
optimum==1.26.1
packaging==25.0
pandas==1.5.3
pefile==2023.2.7
prometheus_client==0.22.1
propcache==0.3.2
protobuf==6.31.1
pyarrow==21.0.0
pybind11==2.10.3
pydantic==1.10.22
pyinstaller==6.14.2
pyinstaller-hooks-contrib==2025.5
pymorphy2==0.9.1
pymorphy2-dicts-ru==2.4.417127.4579844
pyreadline3==3.5.4
python-dateutil==2.9.0.post0
pytorch-crf==0.7.2
pytz==2025.2
pywin32-ctypes==0.2.3
PyYAML==6.0.2
razdel==0.5.0
regex==2024.11.6
requests==2.32.4
safetensors==0.5.3
scikit-learn==1.4.0
scipy==1.10.0
six==1.17.0
slovnet==0.6.0
sniffio==1.3.1
sortedcontainers==2.4.0
starlette==0.22.0
sympy==1.14.0
threadpoolctl==3.6.0
tokenizers==0.21.2
torch==2.7.1
tqdm==4.67.1
transformers==4.52.4
typing_extensions==4.14.1
urllib3==2.5.0
uvicorn==0.18.3
xxhash==3.5.0
yargy==0.16.0
yarl==1.20.1
